.mobile-nav-toggler {
  display: none;
}
.container-fluid {
  width: 1280px;
  margin: 0 auto;
}
/* layout css code */
.navbar-wrapper {
  width: 100%;
  height: 80px;
  background: var(--bs-white);
  /* padding: 0 30px; */
  position: fixed;
  top: 0;
  right: 0px;
  z-index: 998;
  border-bottom: 1px solid var(--bs-neutral-300);
  transition: 0.4s all;
}
.navbar {
  padding: 0;
}
.main-content {
  padding: 104px 0px 0px 0px;
  min-height: calc(100vh - 28px);
  max-height: fit-content;
}

/* layout css code */
.nav-right-side .nav-link {
  padding: 0;
}
.nav-right-side .nav-link .wishlist {
  height: 32px;
  width: 32px;
}

.nav-right-side .nav-link.profile img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.badge {
  position: absolute;
  right: -10px;
  top: -10px;
}

.nav-link.profile {
  background: var(--bs-neutral-100);
  border-radius: 50%;
}
